@import url('https://fonts.googleapis.com/css2?family=Cardo:wght@400;700&family=Montserrat:wght@300;500&display=swap');

$colorBG: RGB(255, 255, 255);
$colorText: RGB(55, 57, 69);
$colorSecondaryBlue: RGB(58, 122, 242);
$colorSecondaryGray: RGB(192, 195, 203);
$fontTitle: 'Montserrat', sans-serif;
$fontContent: 'Cardo', serif;

.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container-sm, .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container-md, .container-sm, .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container-lg, .container-md, .container-sm, .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1320px;
  }
}

body {
  background-color: $colorBG;
}

body * {
  font-family: $fontContent;
  color: $colorText;

  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $fontTitle !important;
}

.homepage {
  .jumboHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    text-align: center;

    h1 {
      margin-bottom: -10px;
    }

    img {
      max-width: 150px;
      object-fit: contain;
    }
  }

  .exchangeImage {
    height: 500px;
    width: 100%;
    object-fit: cover;
  }

  .contact {
    h2 {
      text-align: center;
    }

    p {
      text-align: center;
    }

    .contactForm {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}

.admin {
  &.requests, &.users {
    table {
      width: 100%;

      td {
        text-align: center;
      }
    }
  }

  &.adminMain {
    .links {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    .home {
      text-align: center;
      margin: 0 auto;
      display: block;
    }
  }

  &.usersCreate {
    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 20px 0;
}